@font-face {
    font-family: 'roboto';
    src: url(font/Roboto/Roboto-Medium.ttf) format("truetype");
    font-family: 'shrikhand';
    src: url(font/Shrikhand/Shrikhand-Regular.otf);
}

body {
    margin: 0px;
    font-family: 'roboto';
}

a {
    text-decoration: none;
}

/*footer General*/
.footer {
    padding: 1.5em;
}

.logo_footer {
    font-family: 'shrikhand';
}

.footer li {
    list-style: none;
    margin: 0.4em;

}

.footer_list {
    margin: 0;
    padding: 0;
}

footer {
    background-color: #353535;
    color: white;
}

footer a {
    color: white;
}

/* logo */
.retourlogo {
    display: flex;
    align-items: center;
}

nav a {
    width: 10%;
    padding: 1em;
    font-size: 1rem;
    color: black;
}

.logo {
    width: 80%;
    padding: 1em;
}

.logo_img {
    width: 75%;
}

/* menu header */
.plat_img {
    width: 100%;
    position: relative;
}

.plat_img img {
    width: 100%;

}

.main_menu {
    margin-top: -3em;
    border-radius: 2rem 2rem 0 0;
    position: relative;
    width: 100%;
    background-color: #f6f6f6;
}

.menu_header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.8em;
}

.menu_header h2 {
    font-family: 'shrikhand';
}

/*Menu */
.plat {
    padding: 1em;
}

.plat h3 {
    text-transform: uppercase;
}

.plat_s {
    background-color: #fff;
    padding-left: 0.6em;
    display: flex;
    border-radius: 0.75rem;
    margin: 1rem 0;
    box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    animation: myAnim 1s ease 0s 1 normal forwards;
    cursor: pointer;
}

@keyframes myAnim {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.delay_0 {
    animation-delay: 0s;
}

.delay_1 {
    animation-delay: 0.1s;
}

.delay_2 {
    animation-delay: 0.2s;
}

.plat_titre,
.plat_descri {
    margin: 0;
}

.plat_prix {
    font-weight: 700;
}

.plat_slide {
    background-color: #99e2d0;
    width: 3em;
    height: 3.2em;
    border-radius: 0 0.75em 0.75em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -3em;
}

.plat_s:hover .plat_slide {
    margin-right: 0em;
    transition: 0.4s;
}

.plat_slide_logo {
    color: #fff;
    transform: rotate(90deg);

}

.plat_s:hover .plat_slide_logo {
    transform: rotate(360deg);
    transition-duration: .4s;
}


.button_cmd {
    color: #fff;
    background: linear-gradient(0deg, #9356DC, #FF79DA);
    padding: 0.75em 2.6em;
    border: 0;
    font-weight: 500;
    font-size: 1em;
    border-radius: 100px;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
}

.button_cmd:hover {
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 50%);
    filter: brightness(105%);
    cursor: pointer;
}

.button {
    display: flex;
    justify-content: center;
    padding: 0em 3em 3em 3em;
}