/* Polices */
@font-face {
    font-family: 'roboto';
    src: url(font/Roboto/Roboto-Medium.ttf);
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url(font/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: 'shrikhand';
    src: url(font/Shrikhand/Shrikhand-Regular.otf);
    font-style: normal;
}

body {
    margin: 0px;
    font-family: 'roboto';
}

a {
    text-decoration: none;
}

/* Loader (position + animation fade away) */

.loader {

    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    animation: loader_cache 0.5s;
    animation-delay: 1s;
    animation-fill-mode: both;
    z-index: 1;
    background-color: rgba(0, 0, 0, 80%);

}

@keyframes loader_cache {

    100% {
        z-index: -1;
        opacity: 0;
    }

}

/* Loader (animation du loader) */
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
    background: #9356DC;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
    background: #FF79DA;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
    background: #99E2D0;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
    background: #9356DC;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Logo Ohmyfood*/
.logo {
    font-family: 'shrikhand';
    width: 100%;
}

/* Fleche*/
.retourlogo {
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 0%;
    z-index: 1;
}

.retourlogo a {
    padding: 1em;
    color: rgb(71, 68, 68);
}

.header_arrow:hover {
    color: #99E2D0;
    cursor: pointer;
}

/* menu header                */

/* image menu*/
.plat_img {
    width: 100%;
    position: relative;
}

.plat_img img {
    object-fit: cover;
    width: 100%;
    height: 14em;
}

/* Menu Nom + coeur */
.menu_header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.8em;
}

.menu_header h2 {
    font-family: 'shrikhand';
    font-weight: 500;
}

/*coeur animation*/
.coeur_bloc {
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    display: flex;
}

.coeur_vide {
    position: absolute;
}

.coeur_full {
    position: absolute;
    color: transparent;
    opacity: 0;
    transition: 0.3s ease-in;
}

/*hover c0eur*/
.coeur_full:hover {
    color: #99E2D0;
    opacity: 1;
    transform: scale(1.11);
    cursor: pointer;

}

/* Menu bloc                               */
.main_menu {
    margin-top: -3em;
    border-radius: 2rem 2rem 0 0;
    position: relative;
    width: 100%;
    background-color: #f6f6f6;
    max-width: 1366px;
}

/*Menu titre */
.plat {
    padding: 0em 1em 0.2em 1em;
}

.plat h3 {
    text-transform: uppercase;
    font-family: 'robotolight';
    font-weight: normal;
    margin-bottom: 6px;
}

/*Ligne sous titre*/
.plat_ligne {
    background-color: #99E2D0;
    margin: 0;
    height: 3px;
    width: 47px;
}


/* Animation + delay apparition plat*/
@keyframes myAnim {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#delay-0 {
    animation-delay: 0s;
}

#delay-1 {
    animation-delay: 0.2s;
}

#delay-2 {
    animation-delay: 0.3s;

}

#delay-3 {
    animation-delay: 0.4s;

}

#delay-4 {
    animation-delay: 0.5s;
    ;
}

#delay-5 {
    animation-delay: 0.6s;
    ;
}

#delay-6 {
    animation-delay: 0.7s;
}

#delay-7 {
    animation-delay: 0.8s;
}

#delay-8 {
    animation-delay: 0.9s;
}

#delay-9 {
    animation-delay: 1s;
}

/*Menu plats Bloc text*/
.menuPlats {
    background-color: #fff;
    padding: 0.8em;
    display: flex;
    border-radius: 0.75em;
    margin: 1em 0;
    box-shadow: 5px 5px 5px 0px #04040426;
    overflow: hidden;
    cursor: pointer;
    animation: myAnim 1s ease 2s 1 normal forwards;
}

/*Titre plats + ingredients*/
.menuPlats__bloc {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
}

.menuPlats__titre {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.95em;
    margin-bottom: 0.2em;
}

.menuPlats__description {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: 'robotolight';
    font-weight: normal;
    font-size: 0.8em;
}

/*plats (poulet herbes les delices des sens) ingredient trop long ajustement*/
.menuPlats__titre_poulet {
    margin: 0;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.95em;
    margin-bottom: 0.2em;
}

/* Prix plats*/
.menuPlats__prix {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 0.5em;
    font-size: 0.8em;
}

/*Slide survol */
.menuPlats__slide {
    background-color: #99E2D0;
    margin: -1em -4.4em -1em 1em;
    width: 3.4em;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.5s;
}

.menuPlats:hover .menuPlats__slide {
    margin-right: -1rem;
}



.menuPlats__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transform: rotate(-180deg);
    transition-duration: 0.5s;
    margin-right: 5px;
    font-size: 1.2em;

}

.menuPlats:hover .menuPlats__logo {
    transform: rotate(0);
}

.menuPlats__icon {
    color: white;
}


/*Menu button*/


.button_cmd {
    color: #fff;
    background: linear-gradient(0deg, #9356DC, #FF79DA);
    padding: 0.75em 2.6em;
    border: 0;
    font-weight: 500;
    font-size: 0.7em;
    border-radius: 100px;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
}

.button_cmd:hover {
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 50%);
    filter: brightness(105%);
    cursor: pointer;
}

.button {
    display: flex;
    justify-content: center;
    padding: 1em 3em 3em 3em;
}

/*footer General*/
.footer {
    padding: 1.5em;
    max-width: 1366px;
}

.logo_footer {
    font-family: 'shrikhand';
    margin-bottom: 1em;
}

.footer li {
    list-style: none;
    margin-bottom: 0.4em;

}

.footer_list {
    margin: 0;
    padding: 0;
}

footer {
    background-color: #353535;
    color: white;
}

footer a {
    color: white;
}

/*icon avec different taille ajustement marge*/
.hand {
    margin-right: 3px;
}

.couvert {
    margin-right: 10px;
}

/*Ajustement pour plus petite taille d'ecran (Galaxy Fold)*/
@media screen and (min-width: 280px) {
    /*ajustement taille nom restaurant*/

    .menu_header h2 {
        font-size: 1.3em;
    }
}

/*Tablette ajustement */
@media screen and (min-width: 768px) {
    .plat_img img {
        height: 30em;
    }

    /*ajustement taille nom restaurant*/

    .menu_header h2 {
        font-size: 2.3em;
    }

    .coeur_bloc {
        font-size: 2em;
    }

    /*ajustement plat box */
    .plat_box {
        font-size: 1.3em;
    }

    .menuPlats:hover .menuPlats__slide {
        margin-right: -1.1rem;
    }

    .button {
        font-size: 2em;
    }

}

/*Desktop screen a partir  1024px */
@media screen and (min-width: 1024px) {

    /*taille police header*/
    .header {
        font-size: 1.2em;
    }

    /*ajustement plat box */
    .plat_box {
        display: flex;
        font-size: 1em;
        justify-content: center;
    }

    .plat {
        width: 29%;
    }

    .menu_header {
        justify-content: space-around;
        font-size: 1.5em;
    }

    .coeur_bloc {
        font-size: 1.5em;
    }

    .footer {
        font-size: 1.2em;
    }
}

/*Desktop screen a partir 1366px*/
@media screen and (min-width: 1366px) {

    .main_menu {
        margin-left: auto;
        margin-right: auto;
    }

    .footer {
        margin: auto;
    }
}