@font-face {
    font-family: 'roboto';
    src: url(font/Roboto/Roboto-Medium.ttf);
    font-style: normal;
}

@font-face {
    font-family: 'shrikhand';
    src: url(font/Shrikhand/Shrikhand-Regular.otf);
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url(font/Roboto/Roboto-Light.ttf);
}

/*-----------------------------------Loader----------------------------*/

.loader {

    z-index: -1;
    opacity: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    animation-name: loader_cache;
    animation-duration: 2.5s;
    animation-iteration-count: 1;

}

@keyframes loader_cache {
    0% {
        opacity: 1;
        z-index: 10;
        background: rgba(0, 0, 0, 50%);
    }
    50%
    {
        display: none;
    }

}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: violet;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}



/*=============================================================================*/



body {
    margin: 0px;
    font-family: 'roboto';
}

a {
    text-decoration: none;
    color: black;
}

/* header */
.logo {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-around;
    font-family: 'shrikhand';
    box-shadow: 0em 0em 0.5em rgb(1 1 1 / 21%)
}

.logo img {
    width: 60%;
    padding-bottom: 1em;
    padding-top: 1em;
}


/*Nav */

.local {
    display: flex;
    justify-content: center;
    padding: 1.25em 1em;
    background-color: #f3f3f3;
    font-size: 1.2em;
}

.local__icon {
    margin-right: 1em;
}

.local span {
    font-weight: 700;
}

.nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #fafafa;
    padding: 1.2em;
}

.navtitre {

    font-size: 1em;
}

.navtext {
    font-size: 0.9em;
    font-family: 'robotolight';
}

.navlink a {
    color: none;
}

.navlink {
    border: 0;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: #fff;
    /* background-color: #686868; */
    background-image: linear-gradient(0deg, rgba(147, 86, 220, .9), rgba(255, 121, 218, .9));
    cursor: pointer;
    transition-duration: .25s;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);

}

.nav_button {
    display: flex;
    justify-content: center;
}

.nav_button_exp {
    color: #fff;
    background: linear-gradient(0deg, #9356DC, #FF79DA);
    padding: 0.75em 1.6em;
    border: 0;
    font-weight: 500;
    font-size: 1em;
    border-radius: 100px;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
}

.nav_button_exp:hover {
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 50%);
    filter: brightness(105%);
    cursor: pointer;
}

/* Main*/


/*tutorial */
.tuto_bloc {
    padding: 1em;
    margin-bottom: 2em;
}

.tuto_titre {
    margin-top: 1em;
}


.tuto_icon {
    margin-right: 1em;
    color: grey;
}

.tuto_liste {
    counter-reset: compteListe;
    margin-left: 1em;
}

.tuto_step {
    padding: 1.5rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
    border-radius: 1.25rem;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    margin-top: 1.2em;
}

.tuto_step:before {
    background-color: #9356dc;
    content: counter(compteListe);
    counter-increment: compteListe;
    display: flex;
    width: 1.5em;
    height: 1.5em;
    color: white;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    left: 1em;
    position: absolute;

}

.tuto_step:hover {
    background-color: #f2eafb;
}

.tuto_step:hover .tuto_icon {
    color: #9356dc;
}

.tuto_text {
    font-size: 0.9em;
}

/*-----------------------------------------------------*/

/*Restaurant carte */
.restau {
    background-color: lightgray;
    padding: 1em;
}


.restau_carte {
    display: flex;
    flex-wrap: wrap;
}

.restau_carte_bloc {

    text-decoration: none;
    background-color: white;
    border-radius: 1px;

}


.restau img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    height: 8em;
}


/*carte restaurant */

.restau_carte_bloc {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 11em;
    border-radius: 0.7em;
    box-shadow: 3px 8px 8px #dedada;
    margin: 0 0 1em 0;
}

.restau_img {
    border-radius: 0.7em 0.7em 0 0;
    width: 100%;
    height: 175px;
    object-fit: cover;
}

.nouveau {
    border-radius: 2px;
    background-color: #99e2d0;
    color: #217460;
    padding: 0.5em 0.9em 0.5em 0.9em;
    position: absolute;
    top: 12px;
    right: 10px;
    font-size: 0.7em;
}

.carte_footer {
    display: flex;
    font-size: 0.8em;
    justify-content: space-between;
    width: 87%;
    margin-top:0.5em;
}

.carte_footer_text {
    font-size: 0.7em;
    padding: 0em 1em 1em 1em;
}

.carte_footer_titre {
    margin: 0;
}

.carte_footer_ville {
    margin: 0;
    font-family: 'robotolight';
    font-size: 1.4em;
}

/*===========================================Coeur================================================*/

.coeur_bloc {
    font-size: 2em;
    display: flex;
}

.coeur_vide {
    position: absolute;
}

.coeur_full {
    color: transparent;
    position: absolute;
}

/*degradee couleur hover*/
.coeur_full:hover {
    background-image: linear-gradient(0deg, #9356dc, #ff79da);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

/*-----------------*/

/*effect hover*/
.hvr-icon-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-icon-grow .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-icon-grow:hover .hvr-icon {
    -webkit-transform: scale(1.3) translateZ(0);
    transform: scale(1.3) translateZ(0);
}

/*----------------------*/

/*<===============================================================================================>




/*-----------------------------------------Footer--------------------------------------------------*/

footer {
    background-color: #353535;
}

.footer_bloc {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.footer_bloc,
footer a {
    color: white;
}

.footer_logo {
    font-family: 'shrikhand';
    font-size: 1.3em;
}

.footer_list {
    list-style: none;
    padding: 0;
}

.footer_list li {
    margin-bottom: 0.4em;

}

.footer_icon1 {
    margin-right: 0.9em;
}

.footer_icon2 {
    margin-right: 0.5em;
}



/*@media screen {400px
    
padding diviser par 2}*/
nav 0.5emsdasfds
